.section {
  background-color: #b4edd2;
}

.title {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 3rem;
  padding: 2rem 0;
  text-align: center;
}

.box {
  display: flex;
  flex-direction: row;
}

.list {
  list-style-type: none;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  text-align: center;
}

.mockupImages {
  display: flex;
  justify-content: center;
}

.cookedPhoneImg {
  max-width: 300px;
}

.quaffleMacImg {
  max-width: 500px;
}

.techWrapper {
  padding-bottom: 3rem;
}

.linkIcons {
  display: inline-flex;
  align-items: center;
}

.icon {
  padding: 0.3rem;
}

@media (max-width: 1012px) {
  .mockupImages {
    flex-direction: column;
    align-items: center;
  }

  .cookedPhoneImg {
    max-width: 500px;
  }

  .quaffleMacImg {
    max-width: 800px;
  }
}

@media (max-width: 810px) {
  .quaffleMacImg {
    max-width: 500px;
  }
}

@media (max-width: 500px) {
  .cookedPhoneImg {
    max-width: 300px;
  }

  .quaffleMacImg {
    max-width: 400px;
  }
}

@media (max-width: 390px) {
  .cookedPhoneImg {
    max-width: 280px;
  }

  .quaffleMacImg {
    max-width: 300px;
  }
}
