.section {
  background-color: #b4edd2;
}

.title {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 3rem;
  padding: 2rem 0;
  text-align: center;
}

.box {
  display: flex;
  flex-direction: row;
}

.list {
  list-style-type: none;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  text-align: center;
}

.mockupImages {
  display: flex;
  justify-content: center;
}

.cookedPhoneImg {
  max-width: 300px;
}

.quaffleMacImg {
  max-width: 500px;
}

.techWrapper {
  padding-bottom: 3rem;
  /* display: flex;
  justify-content: space-around;
  flex-wrap: wrap; */
}

.linkIcons {
  display: inline-flex;
  align-items: center;
}

.icon {
  padding: 0.3rem;
}
