.section {
  background-color: #a0cfd3;
}

.skillsContainer {
  font-size: 1.1rem;
}

.title {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 3rem;
  padding: 2rem 0;
  text-align: center;
}

.box {
  display: flex;
  flex-direction: row;
}

.list {
  margin-left: 0;
  padding: 0;
  list-style-type: none;
  -webkit-padding-start: 0;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  text-align: center;
}

.skillWrapper {
  display: flex;
  justify-content: space-around;
}

.card {
  margin: 0 4rem;
  min-width: 25%;
  padding: 0 1rem;
  text-align: center;
}

@media (max-width: 920px) {
  .card {
    text-align: center;
    margin: 0 2rem;
  }
}

@media (max-width: 752px) {
  .skillWrapper {
    flex-flow: column nowrap;
    justify-content: space-around;
  }
  .card {
    /* text-align: center; */
    margin: 0;
  }
}
